**/bin/**/*
**/bin

**/obj/**/*
**/obj

**/*.md
CD.PS\
CD.PS\
.git\
.vs\
Integration\

**/*.md

.dockerignore

Dockerfile
CI
CD
packages
**/packages

**/Directory.Build.props
**/Directory.Build.targets